<nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
  <a class="navbar-brand" id="linkMovimiento" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Movimiento</a>
  <a class="navbar-brand" id="linkCrearMovimiento" routerLink="./crear" routerLinkActive="active">Crear movimiento </a>
  <a class="navbar-brand" id="linkListarMovimiento" routerLink="./listar" routerLinkActive="active">Listar movimiento</a>
  <a class="navbar-brand" id="linkConsultarGanancia" routerLink="./consultar-ganancia" routerLinkActive="active">Consultar Ganancia</a>
</nav>
<router-outlet></router-outlet>
