<div id="consultar-ganancia-movimientos">
  <form [formGroup]="consultarGananciaForm">
    <div>
      <div>
        <label class="form-label">Fecha:  </label><br>
        <input matInput [matDatepicker]="picker" id="fechaVenta" name="fecfechaVentaha" class="form-control" formControlName="fechaVenta" style="display:inline; width: 300px;" (change)="changeDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker><br><br>
      </div>
      <button type="submit" id="consultar-ganancia" class="btn btn-primary" (click)="consultarGanancia()">Consultar Ganancia</button><br>
      <div class="input-group input-group-lg"> <br><br><br>
        <input type="text" class="form-control" id= "ganancia" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" disabled placeholder="GANANCIA: {{ganancia}}" >
      </div>
    </div>
  </form>
</div>
