<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" id="linkProducto" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Producto</a>
  <a class="navbar-brand" id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a>
  <a class="navbar-brand" id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a>
  <a class="navbar-brand" id="linkListarProducto" routerLink="./listar" routerLinkActive="active">Listar producto</a>
</nav>
<router-outlet></router-outlet>
